@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  width: 100vw;
}

.active {
  @apply bg-indigo-400 text-white
}

table {
  thead{
    @apply bg-gray-100
  }
  th{
    @apply py-2 text-left px-3
  }
  tbody{
    tr{
      td{
        @apply py-3
      }
    }
  }
}